@using HelpingHands.Models
@model CareVisitVM

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


<section class="section profile">
    <div class="row">


        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">

                    <div class="tab-content pt-2">


                        <form asp-action="SuburbPerNurse" method="get">
                                    <div class="row mb-3">
                                        <label for="selectedSuburb" class="col-md-2 col-form-label">Nurses</label>
                                        <div class="col-md-3">
                                            <select name="selectedSuburb" asp-items="ViewBag.NurseList " class="form-select" aria-label="Default select example"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="submit" value="Filter" class="btn btn-primary" style="color:#fff; background-color:#16697a;">
                                        </div>
                                        <!-- Other form elements -->
                                    </div>
                        </form>

                        <form asp-action="GetSuburbs" method="get">
                            <div class="row mb-3">
                                <label for="selectedSuburb" class="col-md-2 col-form-label">Nurses</label>
                                <div class="col-md-3">
                                    <select name="selectedSuburb" asp-items="ViewBag.PatientList " class="form-select" aria-label="Default select example"></select>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="Filter" class="btn btn-primary" style="color:#fff; background-color:#16697a;">
                                </div>
                                <!-- Other form elements -->
                            </div>
                        </form>

                       

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
        @* <div class="col-xl-4">
        @await Html.PartialAsync("_CareVisitCalender", @Model)
        </div>*@

    </div>
</section>

<script>
    $(function () {


        let successMessage = "@TempData["SuccessMessage"]";
        let errorMessage = "@TempData["ErrorMessage"]";

        if (successMessage !== "") {
            // Display success message using Bootstrap alert
            $('#alertDiv').html('<div class="alert alert-success">' + successMessage + '</div>');
        } else if (errorMessage !== "") {
            // Display error message using Bootstrap alert
            $('#alertDiv').html('<div class="alert alert-danger">' + errorMessage + '</div>');
        }
    });
</script>


<style>
    .profile .profile-card img {
        max-width: 120px;
    }

    .profile .profile-card h2 {
        font-size: 24px;
        font-weight: 700;
        color: #2c384e;
        margin: 10px 0 0 0;
    }

    .profile .profile-card h3 {
        font-size: 18px;
    }

    .profile .profile-card .social-links a {
        font-size: 20px;
        display: inline-block;
        color: rgba(1, 41, 112, 0.5);
        line-height: 0;
        margin-right: 10px;
        transition: 0.3s;
    }

        .profile .profile-card .social-links a:hover {
            color: #16697a;
        }

    .profile .profile-overview .row {
        margin-bottom: 20px;
        font-size: 15px;
    }

    .profile .profile-overview .card-title {
        color: #16697a;
    }

    .profile .profile-overview .label {
        font-weight: 600;
        color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit label {
        font-weight: 600;
        color: rgba(1, 41, 112, 0.6);
    }

    .profile .profile-edit img {
        max-width: 120px;
    }

</style>
