
@{
    Layout = "_DefaultLayout";
}
<body>


    <!-- Breadcrumb Section Begin -->
    
    <!-- Breadcrumb Section End -->
    <!-- About Section Begin -->
    <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__video set-bg" >
                        <img src="~/Image/helping patient (1).jpg" />
                       
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>ABOUT OUR NGO</span>
                            <h2>Welcom to Thusanang</h2>
                        </div>
                        <p>
                            The WoundCare Foundation is a non-governmental organization (NGO) dedicated to providing essential medical care and support to individuals affected by chronic and acute wounds. Our mission is to improve the quality of life for those facing the challenges of wound-related conditions.

                            At the heart of our organization is a team of compassionate and skilled healthcare professionals, including wound care nurses, physicians, and specialists, who are committed to delivering top-quality wound care services. We believe that every individual deserves access to effective wound management, irrespective of their socio-economic background.

                            The WoundCare Foundation focuses on three core pillars:

                            Patient Care: We provide comprehensive wound assessment, treatment, and management services to patients. Our team is dedicated to delivering the highest standard of care, focusing on pain management, infection control, and wound healing. We work with each patient to create personalized care plans that address their specific needs.
                            
                            Education and Awareness: We are committed to raising awareness about wound care and prevention. We conduct community outreach programs, workshops, and educational campaigns to empower individuals and healthcare providers with the knowledge and skills needed to prevent and manage wounds effectively.
                        </p>
                        <ul>
                            <li><i class="fa fa-check-circle"></i> Routine and medical check-up</li>
                            <li><i class="fa fa-check-circle"></i> Excellence in chronic and acute wound care every</li>
                        </ul>
                        <a asp-action="ContactUs" asp-controller="Home" class="primary-btn normal-btn">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->
 
   

</body>