@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body pt-3">
                <ul class="nav nav-tabs nav-tabs-bordered">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="NewContracts">
                            New Care Contracts
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="AssignedContract">
                           Assigned Care Contract
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="ClosedContracts">
                            Closed Care Contract
                        </a>
                    </li>

                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}